
<div class="container-fluid mt-3 " >
  <div class="alert alert-success position-absolute font-weight-bold" role="alert" [ngClass]="{ ocultar: !alertarNotaGuardada}">
    Nota agregada con exito
  </div>
  <div class="alert alert-danger position-absolute font-weight-bold" role="alert" [ngClass]="{ ocultar: !alertarFormIncompleto}">
   Datos incompletos
 </div>
 <div class="alert alert-info position-absolute font-weight-bold" role="alert" [ngClass]="{ ocultar: !alertarNotaEliminada}">
   Nota eliminada
 </div>
</div>

<div class="container mt-3">
  <form class="border border-primary rounded p-3">
    <div class="form-group">
      <label class="form-label font-weight-bold" for="titulo">Titulo de la nota</label>
      <input required="true" class="form-control" placeholder="Titulo de la nota" type="text" #nuevoTitulo>
    </div>
    <div class="form-group">
      <label for="nota" class="form-label font-weight-bold">¿Que quieres anotar?</label>
      <input required="true" id="nota" class="form-control" placeholder="Escribe el contenido de tu nota" type="text" #nuevoContenido>
   </div>
    <button class="btn btn-primary" (click)="agregarNota(nuevoTitulo,nuevoContenido)">Agregar nota</button>
  </form>
</div>

<div class="container-fluid mt-3">
  <nota *ngFor="let current of notas" [currentNota]="current" (evtEliminar)="eliminarNota($event)"></nota>
</div>


